:root {
  --neutral-white: #fff;
  --grey-color1: #333;
  --grey-color2: #4f4f4f;
  --grey-color3: #bdbdbd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--neutral-white);
  color: var(--text-color1);
  overflow: hidden;
  font-family: "Space Mono", monospace;
}


.page-title {
  color: var(--text-color1);
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
  width: auto;
  height: 24px;
  margin: 20px 24px;
}

.main-content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: left;
  flex-direction: column;
}

img {
  width: 287px;
  height: 238px;
  margin: 64px auto;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 24px;
}

.section-header {
  width: 350px;
  height: 142px;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -1.68px;
}

.section-p {
  margin-top: 30px;
  width: 328px;
  font-size: 18px;
  font-weight: 400;
}

.btn {
  width: 216px;
  height: 68px;
  margin-top: 66px;
  color: var(--neutral-white);
  background: var(--grey-color1);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.footer {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--grey-color3);
  height: 17px;
}

.footer a {
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}

/*Media query for 1440 x 1080 display*/
@media screen and (min-width: 1440px) {
  .page-title {
    height: 25px;
    margin: 40px 77px;
  }

  .main-content {
    flex-direction: row;
    margin-top: 150px;
  }

  img {
    width: 540px;
    height: 448px;
    margin-left: 77px;
    margin-top: 0;
  }

  .text-wrapper {
    width: 100%;
    margin-left: 120px;
  }

  .section-header {
    width: 586px;
    height: 190px;
    font-size: 64px;

  }

  .section-p {
    font-size: 24px;
    width: 60%;
    height: 108px;
  }

}
